.search {
  @apply relative;
}

.searchInner {
  @apply flex items-center gap-2 pl-3
       rounded-md transition-all 
       text-zinc-50 no-underline bg-zinc-950
       border-2 border-zinc-800 overflow-hidden;
}

.searchIcon {
  @apply bg-zinc-900 p-3;
}
.search i {
  @apply flex text-3xl;
}

.search input {
  @apply flex text-xl w-[500px] bg-zinc-950 text-zinc-100 outline-none
   leading-none font-semibold;
}

.searchDropDown {
  @apply absolute bg-zinc-950 w-full p-3 rounded-md top-16 left-0 flex
  flex-col gap-3 border-2 border-zinc-900;
}

.searchLoading {
  @apply flex flex-col items-center gap-1 text-zinc-50 p-2
  rounded-md;
}
.searchLoading i {
  @apply flex text-xl;
}
.searchError {
  @apply flex flex-col items-center gap-1 text-zinc-50 p-2
  rounded-md;
}

.searchError i {
  @apply flex text-3xl;
}

.dropDownMoviesContainer {
  @apply flex flex-col gap-1;
}
.dropDownMoviesHeader {
  @apply font-semibold text-zinc-50;
}
.movie {
  @apply flex flex-col gap-2 max-h-[350px] overflow-y-scroll;
}

.movie::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.moreButton {
  @apply bg-red-800 hover:bg-red-700 text-zinc-50 p-3 rounded-md text-center
  cursor-pointer mt-3 text-lg font-semibold;
}

.dropDownRecent {
  @apply flex flex-col gap-1;
}
.dropDownRecentHeader {
  @apply font-semibold text-zinc-50;
}

.dropDownRecentContainer {
  @apply flex flex-wrap gap-2 max-h-[70px] overflow-y-scroll;
}
.dropDownRecentContainer::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
.dropDownRecentContainer span {
  @apply bg-zinc-900 py-1 px-2 rounded-md hover:bg-red-800
   cursor-pointer duration-300 text-base;
}
