.search {
  @apply relative;
}

.searchInner {
  @apply flex items-center gap-2 pl-3
       rounded-md transition-all 
       text-zinc-50 no-underline bg-zinc-950
       border-2 border-zinc-800 overflow-hidden;
}

.searchIcon {
  @apply bg-zinc-900 p-3;
}
.search i {
  @apply flex text-2xl;
}

.search input {
  @apply flex text-xl w-[500px] bg-zinc-950 text-zinc-100 outline-none
   leading-none font-semibold;
}

.searchDropDown {
  @apply absolute bg-zinc-950 w-full p-3 rounded-md top-14 left-0 flex
  flex-col gap-3 border-2 border-zinc-900;
}

.searchLoading {
  @apply flex flex-col items-center gap-1 text-zinc-50 p-2
  rounded-md;
}
.searchLoading i {
  @apply flex text-xl;
}
.searchError {
  @apply flex flex-col items-center gap-1 text-zinc-50 p-2
  rounded-md;
}

.searchError i {
  @apply flex text-3xl;
}

.dropDownMoviesContainer {
  @apply flex flex-col gap-1;
}
.dropDownMoviesHeader {
  @apply font-semibold text-zinc-50 text-lg;
}
.movie {
  @apply flex flex-col gap-2 max-h-[350px] overflow-y-scroll;
}

.movie::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.moreButton {
  @apply bg-red-800 hover:bg-red-700 text-zinc-50 p-3 rounded-md text-center
  cursor-pointer mt-3 text-lg font-semibold;
}

.dropDownRecent {
  @apply flex flex-col gap-1;
}
.dropDownRecentHeader {
  @apply font-semibold text-zinc-50 text-lg;
}

.dropDownRecentContainer {
  @apply flex flex-wrap gap-2 max-h-[70px] overflow-y-scroll;
}
.dropDownRecentContainer::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
.dropDownRecentContainer div {
  @apply bg-zinc-800  rounded 
    duration-300 border border-zinc-800
   flex overflow-hidden;
}
.dropDownRecentContainer span {
  @apply px-3 py-1 text-lg bg-zinc-950 hover:bg-zinc-900 cursor-pointer;
}
.dropDownRecentContainer button {
  @apply bg-zinc-800  py-1 px-2;
}

.dropDownRecentContainer button i {
  @apply text-lg;
}
