.toast {
  @apply bg-zinc-950 pt-5 pb-3 px-3 rounded  flex items-center
   justify-between gap-5 relative overflow-hidden
    text-zinc-50 min-w-96 border-2 border-zinc-800;
  animation: toastAnimation 0.5s ease-in-out;
}

@keyframes toastAnimation {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.toastClosing {
  animation: toastClosingAnimation 0.5s ease-in-out;
}
@keyframes toastClosingAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toastBody {
  @apply flex items-center gap-2;
}

.message {
  @apply text-zinc-300;
}

.toastIcon i {
  @apply flex text-xl text-emerald-700;
}

.toastAction i {
  @apply flex text-sm bg-red-800 hover:bg-red-700 text-zinc-50 cursor-pointer p-2 rounded-md;
}
