.page {
  @apply relative;
  animation: imageAnimation 1s ease-in-out;
}

@keyframes imageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerLayout {
  @apply container mx-auto my-10;
}

.moreButton {
  @apply flex items-center justify-center;
}

.moreButton button {
  @apply bg-red-800 p-3 rounded-md text-xl;
}

.gridLayout {
  @apply grid grid-cols-5 gap-5;
}
