.page {
  @apply relative;
  animation: imageAnimation 1s ease-in-out;
}

@keyframes imageAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  @apply relative h-80 bg-cover;
  animation: bannerBackground 50s linear infinite;
}

@keyframes bannerBackground {
  0% {
    background-size: 150%;
    background-position: 50% 50%;
  }
  50% {
    background-size: 100%;
    background-position: 50% 20%;
  }
  100% {
    background-size: 150%;
    background-position: 50% 50%;
  }
}

.headerContainer {
  @apply container mx-auto flex flex-col
  gap-3 items-start justify-center h-full pt-10;
}
.headerTitle {
  @apply relative text-4xl font-semibold;
}

.headerTMovieName {
  @apply relative text-5xl font-bold cursor-pointer flex items-center gap-3;
}

.headerOverlay {
  @apply absolute top-0 left-0 w-full h-full backdrop-blur-sm;
  background: linear-gradient(
    180deg,
    rgba(9, 9, 11, 0.7) 20%,
    rgba(9, 9, 11, 0.7) 70%,
    rgba(9, 9, 11, 1) 100%
  );
}

.containerLayout {
  @apply container mx-auto my-10;
}

.moreButton {
  @apply flex items-center justify-center;
}

.moreButton button {
  @apply bg-red-800 p-3 rounded-md text-xl;
}

.gridLayout {
  @apply grid grid-cols-5 gap-5;
}
