body {
  @apply text-zinc-50 bg-black;
}
#nprogress .bar {
  background: #de0d0d !important;
  z-index: 10000 !important;
  height: 4px !important; /* Replace with your desired color */
}

#nprogress {
  z-index: 10000 !important;
  position: fixed;
  top: 0;
}

#nprogress .peg {
  box-shadow: none !important; /* Match the color */
}

/* body,
div,
html {
  scrollbar-width: 10px;
  scrollbar-color: #18181b #474747;
} */

::-webkit-scrollbar {
  width: 17px;
  padding: 5px;
  border-radius: 10px !important;
}

::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
